# Ignore some special directories
zig-cache
.zig-cache
zig-out

# vim 
*~

# Ignore some special system files
*.DS_Store
.DS_Store

# Ignore tmp files
*.tmp
backup
error_log.txt

# ImGui state files
imgui.ini

